
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.header-container {
    height: 80px;
    background-color: #D6E9FE;
    color: #5995DA;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-container {
    background-color: #EEF6FF;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.local-search-input-form {
    margin: 10px;
}

.local-search-input-form-row {
    margin-bottom: 10px;
}

.local-search-input-form-row label {
    display: inline-block;
    width: 180px;
    text-align: right;
    margin-right: 10px;
}

.local-search-input-form-row input {
    width: 50px;
}

button {
    background-color: #5995DA;
    color: #EEF6FF;
    padding: 5px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
}

.rectangles-placement-display {
    flex-grow: 1;
    border: 1px red solid;
}